redisUsername is not extracted from redisUri

The redisUsername is not extracted from the `redisUri` or `REDIS_URI` env.

docs:
```
Redis cluster endpoint. This must be a single URI. This can embed a username/password per RFC-3986 Section 3.2.1 and this will take precedence over `redisPassword` and `redisPasswordFile`
```

likely something missing here:

https://github.com/buildfarm/buildfarm/blob/a2d10affe341efb0f5db5ea9298cf6b7c042fdcb/src/main/java/build/buildfarm/common/config/Backplane.java#L79-L81

at least the getRedisPassword parses the URI

https://github.com/buildfarm/buildfarm/blob/a2d10affe341efb0f5db5ea9298cf6b7c042fdcb/src/main/java/build/buildfarm/common/config/Backplane.java#L94-L110

Images:
bazelbuild/buildfarm-server:2.11.1
bazelbuild/buildfarm-worker:2.11.1